@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

#home {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home {
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-line,
.second-line,
.third-line,
.fourth-line {
    display: flex;
}

.first-line,
.fourth-line {
    margin-left: 5px;
    font-weight: 400;
}

.second-line,
.third-line {
    line-height: 110px;

    font-size: 80px;
    font-weight: 700;
}

.link {
    flex: 0 1 calc(0.5 * 80px);
    display: flex;
    justify-content: center;
}

.linkedin-icon,
.github-icon,
.pdf-file {
    font-size: 35px;
    margin-left: 20px;
}

.linkedin-icon {
    color: #0077B5;
}

.github-icon {
    color: #333;
}

.pdf-file {
    color: #f70f00;
}

/*END HOME PAGE*/

/*PORTFÓLIO PAGE*/

#portfolio {
    height: 100vh;
    max-width: 100vw;
    position: relative;
}

.background-img {
    background-image: url('img/abstrato.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(55%);
}

.container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    position: relative;
    z-index: 1; 
}
.project-1, .project-2 {
    flex: 1 1 50%; 
    height: 50%;
    margin: 0;
    box-sizing: border-box;
    
}

/*END PORTFÓLIO PAGE*/

/*ABOUT*/



/*END ABOUT*/

/*CONTATO*/
#contato{
    height: 40vh;
    background-color: #333;

}


/*END CONTATO*/